html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: radial-gradient(circle at center, #0b0b2b, #000);
  height: 100%;
  width: 100%;
}

#stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}